body{
    .lightSpeedUp{
        animation:lightSpeedUp;
        @keyframes lightSpeedUp{
            from{
                transform:skewY(30deg) translateY(200px);
            }
            to{
                transform:skewY(0) translateY(0);
            }
        }
    }
    .flyFromLeft{
        animation: flyFromLeft;
        @keyframes flyFromLeft{
            from{
                transform:translateX(-200px);
            }
            to{
                transform:translateX(0);
            }
        }
    }
    .flyFromRight{
        animation: flyFromRight;
        @keyframes flyFromRight{
            from{
                opacity: 0;
                transform:translateX(600px);
            }
            to{
                opacity: 1;
                transform:translateX(0);
            }
        }
        animation-fill-mode:backwards;
    }
    .pickCard{
        animation: pickCard;
        @keyframes pickCard{
            0%{
                transform: translateY(0px) scale(1);
                opacity: 1;
            }
            50%{
                transform: translateY(-100%);
            }
            100%{
                transform: translateY(0px) scale(1.1);
                opacity: 1;
            }
        }
    }
    .putCardBack{
        animation: putCardBack;
        @keyframes putCardBack{
            0%{
                transform: translateY(0px) scale(1.1);
                opacity: 1;
            }
            50%{
                transform: translateY(+100%);
            }
            100%{
                transform: translateY(0px) scale(1);
                opacity: 1;
            }
        }
    }
    .rotate{
        animation: rotate;
        @keyframes rotate{
            to{transform:scale(1.4) rotate(360deg);}
        }
    }
    .rotate-left{
        animation: rotate-left;
        @keyframes rotate-left{
            to{transform:scale(1.2) rotate(-360deg);}
        }
    }
    .toast{
        animation: flyUp 4s linear;
        position: fixed;
        bottom: 30px;
        left:30px;
        z-index:500;
        width: 300px;
        @keyframes flyUp{
            0%, 100%{
                transform: translateY(100px);
                opacity:0;
            }
            10%,50%,90%{
                transform: translateY(0);
                opacity: 1;
            }
        }
    }
    .blink{
        animation-name: blink;
        @keyframes blink{
            from, to {
                color: transparent;
              }
              50% {
                color: #fff;
            }
        }
    }
}