@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto+Slab&display=swap');

$colorPrim: #3c4245;
$colorSec : #5f6769;
$colorTri : #719192;
$colorQua : #dfcdc3;
@mixin pageTheme(){
    *{transition:all 0.3s ease-in-out;}
    header{
        &.section{
            background-color: $colorPrim;
            .container{
                .level-left{
                    .hero{
                        .hero-body{
                            .container{
                                .title{
                                    color:$colorQua;
                                    font-family: 'Roboto Mono', sans-serif;
                                    letter-spacing: 2px;
                                }
                                .subtitle, *{
                                    color:$colorTri;
                                    font-family: 'Roboto Mono', sans-serif;
                                    letter-spacing: 1px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    section{
        .container{
            .columns{
                .column{
                    .container{
                        ul{
                            li{
                                label{
                                    a{
                                        color: $colorPrim;
                                    }
                                }
                            }
                        }
                        .title{
                            font-family: 'Roboto Mono', sans-serif;
                        }
                        .subtitle{
                            font-family: 'Roboto Mono', sans-serif;
                        }
                    }
                    &.content{
                        p{
                            letter-spacing: 1px;
                        }
                    }
                }
            }
        }
        &:nth-child(odd){
            background-color: $colorSec;
            .container{
                .columns{
                    .column{
                        .container{
                            h1{color:$colorQua}
                            h2{color:$colorTri}
                            ul{
                                li{
                                    color: $colorTri;
                                }
                            }
                        }
                        .skills-pers{
                            .skill-progress{
                                label{
                                    background-color: $colorTri;
                                    svg{
                                        color:$colorPrim
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .social-info{
        background-color: $colorQua;
        .columns{
           .column{
                .hero-body{
                    .container{
                       h1{
                           color: $colorPrim;
                            font-family: 'Roboto Mono', sans-serif;
                        }
                       h2{
                           color: $colorSec;
                            font-family: 'Roboto Mono', sans-serif;
                        }
                    }
                }
                svg{
                    color:$colorPrim;
                }
            }
        }
    }
    footer{
        &.footer{
            font-family: 'Roboto Mono', sans-serif;
            background: $colorPrim;
            color: $colorQua;
        }
    }
    a{
        color:unset;
        text-decoration: none;
        filter: hue-rotate(180deg);
        &:hover{
            text-decoration: underline;
            color: unset!important;
        }
    }
}


html{
    scroll-behavior: smooth;
    body{
        @include pageTheme();
        header{
            min-height: 100vh;
        }
        section{
            min-height: 100px;
            padding:100px 0;
            .container{
                .columns{
                    justify-content: center;
                    flex-wrap: wrap;
                    .column{
                        .content{
                            li{
                                label{
                                    margin-left: 10px;
                                }
                            }
                        }
                        .load-more-hold{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-block-start: 10px;
                            .buttons{
                                padding:8px;
                                button{
                                    label{
                                        margin-right: 4px;
                                    }
                                }
                            }
                        }
                        .container{
                            ul{
                                li{
                                    display: flex;
                                    align-items: center;
                                    margin-block-end: 10px;
                                    svg{
                                        font-size: 23px;
                                        width:22px;
                                    }
                                    label{
                                        vertical-align: super;
                                    }
                                }
                            }
                        }
                        .skills-pers{
                            .skill-progress{
                                margin-block-end: 15px;
                                position: relative;
                                progress{
                                    height:2rem;
                                }
                                label{
                                    left:-10px;
                                    bottom:0;
                                    top:-10px;
                                    width: 2.3rem;
                                    height: 2.3rem;
                                    background-color: #000;
                                    position: absolute;
                                    border-radius: 50%;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    svg{
                                        font-size: 21px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &:nth-child(odd){
                .container{
                    .columns{
                        .column{
                            .container{
                                ul{
                                    li{
                                        label{
                                            a{
                                                &:hover{
                                                    text-decoration: underline;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .social-info{
            background-color: $colorQua;
            .columns{
               .column{
                    .columns{
                        .column{
                            figure{
                                svg{
                                    font-size: 42px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}