@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
/* Defining Something Universal ;) */
*{
    font-family: 'Noto Sans JP', sans-serif;
    transition: all 0.3s ease;
}
html{
    overflow-x: hidden;
    max-width: 100vw;
}

/* Website Themeing Control */
$bg-wrap         : url(../img/wrap-bg.jpeg);
$bg-wrap-lg      : url(../img/pexels-negative-space-34153.jpg);
$Home-pic-height : 300px;
$Home-pic-width  : 300px;
$spc-btn-padding : 12px 16px;
$spc-btn-color   : #eee;
$rs-breakpoint   : 728px;

/* Reduce code Redundancy*/ 
@mixin defineScrollBar($color1, $color2, $color3){
    &::-webkit-scrollbar {width: 5px;}
    &::-webkit-scrollbar-track {background:$color1;
                                border-radius: 5px;
    }
    &::-webkit-scrollbar-thumb {background: $color2;
    }
}
@mixin displayflex {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
}
@mixin bg-cover-full {
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
@mixin text-outline {
    $color:rgba(0,0,0,0.35);
    text-shadow: 2px 0 0 $color,
    -2px 0 0 $color,
    0 2px 0 $color,
    0 -2px 0 $color,
    1px 1px 0$color,
    -1px -1px 0 $color,
    1px -1px 0 $color,
    -1px 1px 0 $color;
}
@mixin hw-same($arg_hw){
    width: $arg_hw;
    height: $arg_hw;
}
@mixin ComponentPageTheming($color1, $color2, $color3, $color4){
    background: $color1;
    .header{
        h1{
            &.section-identity{
                color:$color4;
            }
        }
        p{
            color:$color2;
        }
    }
    a{
        .close-section{
            background: #dbe3e5;
            color: $color1;
        }
    }
}

/*Styling Starts*/
body{
    margin:0;
    background: $bg-wrap-lg;
    @include bg-cover-full();
    @media screen and (max-width:$rs-breakpoint){
        background: $bg-wrap;
        @include bg-cover-full();
    }
    @include defineScrollBar(#382933, #fff, #382933);
    #root{
        .social{
            .icon-grp{
                .social-icon{
                    img{
                        @include hw-same(35px);
                        margin: 10px;
                    }
                }
                width: 300px;
                @include displayflex();
                background: #403a39;
                border-radius: 10px;
                position: absolute;
                left: 10px;
                bottom: -35px;
                box-shadow: 10px 10px 19px -7px rgba(0,0,0,0.8);
            }

            @media screen and (max-width:$rs-breakpoint){
                .icon-grp{
                    left: 50%!important;
                    margin-left: -150px;
                }
            }
            position: relative;
        }
        section{
            /* Theming for Home */
            &.home{
                padding: 50px;
                color:#fff;
                $Height:100vh;
                $Width:100vw;
                min-height:$Height;
                min-width:auto;
                @include displayflex;
                flex-direction: column;
                backdrop-filter: blur(5px) opacity(0.8) sepia(5%);
                .center{
                    text-align: center;
                    @include displayflex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    .port_pic_holder{
                        $Height: $Home-pic-height;
                        $Width: $Home-pic-width;
                        max-height:$Height;
                        max-width:$Width;
                        min-height:$Height;
                        min-width:$Width;
                        overflow: hidden;
                        @include displayflex;
                        border-radius: 50%;
                        &:hover{
                            box-shadow:0 0 8px -2px #131a21;
                        }
                        img{
                            height:$Height;
                            width:$Width;
                        }
                    }
                    .my_info{
                        .my_name{
                            @media screen and (min-width:$rs-breakpoint){
                                font-size:30px;
                            }
                            font-size: 25px;
                            @include text-outline();
                        }
                        .my_info_desc{
                            @media screen and (min-width:$rs-breakpoint){
                                font-size:20px;
                            }
                            @include text-outline();
                        }
                    }
                }
            }
            &.anim-section{
                padding: 100px 0;
                min-height:100px;
                @include displayflex();
                align-items: stretch;
                @include ComponentPageTheming(#ecf4f3,#68b0ab, #006a71, #ff7e67);
                &:nth-child(even){
                    background: #e4e4e4;
                }
                .header{
                    .container{
                        h1{
                            &.section-identity{
                                font-size:60px;
                                margin-block-end: 0.1em;
                            }
                            margin-block-start: 0px;
                        }
                        p{
                            margin-left: 6px;
                        }
                        top:10px;
                        position: sticky;
                        padding: 0 60px;
                        margin-top: -15px;
                    }
                    padding:0 10px;
                    height: auto;
                }
                .section-side{
                    width: 44%;
                    padding:0 30px;
                    color: #006a71;
                }
                a{
                    text-decoration: none;
                    .close-section{
                        @include displayflex();
                        @include hw-same(40px);
                        position: fixed;
                        top : 10px;
                        left: 10px;
                        font-size:30px;
                        padding: 10px;
                        border-radius: 50%;
                        cursor:pointer;
                    }
                }
                @media screen and (max-width:$rs-breakpoint){
                    .header{
                        .container{
                            h1{
                                &.section-identity{
                                    font-size:55px;
                                }
                            }
                            top:10px;
                            position: unset;
                            padding: 0 0;
                            text-align: left;
                        }
                        width: 100%;
                        padding:0 32px;
                        height: unset;
                    }
                    .section-side{
                        width: unset;
                        padding:0 30px;
                        color: #006a71;
                    }
                }
            }
            &.skills-page{
                position: relative;
                &:before{
                    content:'';
                    transform: rotate(3deg);
                    width: 110%;
                    position: absolute;
                    height: 100px;
                    background: #e4e4e4;
                    top: -50px;
                }

                &:after{
                    content:'';
                    transform: rotate(3deg);
                    width: 110%;
                    position: absolute;
                    height: 100px;
                    background: #e4e4e4;
                    bottom: -50px;
                }
                .section-side{
                    .skills-pers{
                        @include displayflex()
                        .skill{
                            flex: calc(50% - 50px);
                            background: #c7a1a14f;
                            margin: 10px;
                            border-radius: 23px;
                            padding: 12px;
                            height: 30px;
                            position: relative;
                            overflow: hidden;
                            box-shadow: 0 4px 8px 1px rgba(0,0,0,0.15);
                            label{
                                color: #ccc;
                                z-index: 2;
                                position: absolute;
                                font-weight: bolder;
                                font-family: 'Oswald', sans-serif;
                            }
                            .percent{
                                position: absolute;
                                top: 0;left: 0;bottom: 0;
                                background: #ff7e67;
                                z-index: 0;
                            }
                        }
                    }
                    @media screen and (max-width:$rs-breakpoint){
                        .skills-pers{
                            width: calc(100vw - 60px);
                            .skill{
                                flex: unset;width: 100%;
                            }
                        }
                    }
                }
            }
            &.discover-page{
                position: relative;
                &:before{
                    content:'';
                    @include hw-same(100px);
                    position: absolute;
                    border-radius: 50%;
                    background: #e4e4e4;
                    top: -50px;
                    margin-left: 100px;
                }
                &:after{
                    content:'';
                    @include hw-same(100px);
                    position: absolute;
                    border-radius: 50%;
                    background: #ecf4f3;
                    top: -50px;
                    margin-left: -100px;
                }
            }
        }
        footer{
            background: #382933;
            padding: 30px;
            @include displayflex();
            .main-footer{
                display: block;
            }
            .sub-footer{
                color: #cedebd;
                letter-spacing: 1px;
                *{
                    color: #cedebd;
                }
                b{
                    position: relative;
                    top: 5px;
                }
            }
        }
    }
}