@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
/* Defining Something Universal ;) */
*{
    font-family: 'Noto Sans JP', sans-serif;
    transition: all 0.3s ease;
}
html{
    overflow-x: hidden;
    max-width: 100vw;
}

/* Website Themeing Control */
$bg-wrap         : url(../img/wrap-bg.jpeg);
$bg-wrap-lg      : url(../img/pexels-negative-space-34153.jpg);
$Home-pic-height : 250px;
$Home-pic-width  : 250px;
$spc-btn-padding : 12px 16px;
$spc-btn-color   : #eee;
$rs-breakpoint   : 728px;

/* Reduce code Redundancy*/

@mixin defineScrollBar($color1, $color2, $color3){
    &::-webkit-scrollbar {width: 5px;}
    &::-webkit-scrollbar-track {background:$color1;
                                border-radius: 5px;
    }
    &::-webkit-scrollbar-thumb {background: $color2;
    }
}
@mixin displayflex {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
}
@mixin bg-cover-full {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
@mixin text-outline {
    $color:rgba(0,0,0,0.35);
    text-shadow: 2px 0 0 $color,
    -2px 0 0 $color,
    0 2px 0 $color,
    0 -2px 0 $color,
    1px 1px 0$color,
    -1px -1px 0 $color,
    1px -1px 0 $color,
    -1px 1px 0 $color;
}
@mixin hw-same($arg_hw){
    width: $arg_hw;
    height: $arg_hw;
}
@mixin ComponentPageTheming($color1, $color2, $color3, $color4){
    background: $color1;
    .header{
        h1{
            &.section-identity{
                color:$color4;
            }
        }
        p{
            color:$color2;
        }
    }
    a{
        .close-section{
            background: #dbe3e5;
            color: $color1;
        }
    }
}
@mixin overlapDesign($color, $color1) {
    position: relative;
    &:before{
        content:'';
        @include hw-same(100px);
        position: absolute;
        border-radius: 50%;
        background: $color;
        top: -45px;
        left:20%;
    }
    &:after{
        content:'';
        @include hw-same(100px);
        position: absolute;
        border-radius: 50%;
        background: $color1;
        top: -65px;
        right:20%;
    }
}

/*Styling Starts*/
body{
    margin:0;
    @include defineScrollBar(#382933, #fff, #382933);
    #root{
        .social{
            z-index: 2;
            .icon-grp{
                .social-icon{
                    img{
                        @include hw-same(35px);
                        margin: 10px;
                    }
                }
                width: 300px;
                @include displayflex();
                background: #403a39;
                border-radius: 10px;
                position: absolute;
                left: 10px;
                bottom: -35px;
                box-shadow: 10px 10px 19px -7px rgba(0,0,0,0.8);
            }

            @media screen and (max-width:$rs-breakpoint){
                .icon-grp{
                    left: 50%!important;
                    margin-left: -150px;
                }
            }
            position: relative;
        }
        section{
            /* Theming for Home */
            &.home{
                color:#fff;
                $Width:100vw;
                @include displayflex;
                flex-direction: column;
                backdrop-filter: blur(5px) opacity(0.8) sepia(5%);
                $Height:100vh;
                height:120vh;
                @media screen and (max-width:$rs-breakpoint){
                    justify-content: space-evenly;
                }
                #tsparticles{
                    background: #ff7e67;
                    width: 100vw;
                    height:100%;
                    position:absolute;
                    z-index:-1;
                    text-align: center;
                }
                .center{
                    @include displayflex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    text-align: center;
                    @media screen and (min-width:$rs-breakpoint){
                        backdrop-filter: blur(1px) sepia(30%);
                        box-shadow: 0 0 8px -2px rgba(0,0,0,0.3);
                        border-radius:10px;
                        padding:10px;
                    }
                    .port_pic_holder{
                        $Height: $Home-pic-height;
                        $Width: $Home-pic-width;
                        max-height:$Height;
                        max-width:$Width;
                        min-height:$Height;
                        min-width:$Width;
                        overflow: hidden;
                        @include displayflex;
                        border-radius: 50%;
                        &:hover{
                            box-shadow:0 0 8px -2px #131a21;
                        }
                        img{
                            height:$Height;
                            width:$Width;
                        }
                    }
                    .my_info{
                        .my_name{
                            @media screen and (min-width:$rs-breakpoint){
                                font-size:30px;
                            }
                            font-size: 25px;
                            h1{
                                margin-block-start: 0.83em;
                                margin-block-end: 0
                            }
                        }
                        .my_info_desc{
                            @media screen and (min-width:$rs-breakpoint){
                                font-size:14px;
                                padding: 0px 10px;
                            }
                        }
                    }
                }
            }
            &.anim-section{
                padding: 100px 0;
                min-height:100px;
                @include displayflex();
                align-items: stretch;
                overflow: hidden;
                @include ComponentPageTheming(#ecf4f3,#68b0ab, #006a71, #ff7e67);
                &:nth-child(even){
                    background: #e4e4e4;
                }
                .header{
                    .container{
                        top:10px;
                        position: sticky;
                        padding: 0 60px;
                        margin-top: -15px;
                        h1{
                            &.section-identity{
                                font-size:60px;
                                margin-block-end: 0em;
                            }
                            margin-block-start: 0px;
                        }
                        p{
                            margin-top: -1px;
                            margin-left: 5px;
                        }
                        ul{
                            list-style-type: none;
                            margin-block-start: 10px;
                            margin-block-end: 10px;
                            padding-inline-start: 0;
                            li{
                                margin-block-start: 10px;
                                @include displayflex();
                                justify-content: left;
                                svg{
                                    color: #68b0ab;
                                    @include hw-same(20px);
                                    padding: 5px;
                                    border-radius: 50%;
                                }
                                label{
                                    margin-left: 8px;
                                    color:#68b0ab;
                                    a{
                                        text-decoration: none;
                                        color:#68b0ab;
                                        &:hover{
                                            text-decoration: underline;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    padding:0 10px;
                    height: auto;
                }
                .section-side{
                    width: 44%;
                    padding:0 30px;
                    color: #006a71;
                    z-index:2
                }
                .svg-hold{
                    position: absolute;
                    z-index:1;
                    bottom:-30px;
                    right:10px;
                    opacity:0.2;
                }
                position: relative;
                a{
                    text-decoration: none;
                    .close-section{
                        @include displayflex();
                        @include hw-same(40px);
                        position: fixed;
                        top : 10px;
                        left: 10px;
                        font-size:30px;
                        padding: 10px;
                        border-radius: 50%;
                        cursor:pointer;
                    }
                }
                @media screen and (max-width:$rs-breakpoint){
                    .header{
                        .container{
                            h1{
                                &.section-identity{
                                    font-size:55px;
                                }
                            }
                            top:10px;
                            position: unset;
                            padding: 0 0;
                            text-align: left;
                        }
                        width: 100%;
                        padding:0 32px;
                        height: unset;
                    }
                    .section-side{
                        width: unset;
                        padding:0 30px;
                        color: #006a71;
                    }
                }
            }
            &.skills-page{
                .section-side{
                    text-align: center;
                    .skills-pers{
                        text-align: left;
                        @include displayflex()
                        .skill{
                            flex: calc(50% - 50px);
                            background: #c7a1a14f;
                            margin: 10px;
                            border-radius: 23px;
                            padding: 12px;
                            height: 30px;
                            position: relative;
                            overflow: hidden;
                            box-shadow: 0 4px 8px 1px rgba(0,0,0,0.15);
                            label{
                                color: #ccc;
                                z-index: 2;
                                position: absolute;
                                font-weight: bolder;
                                font-family: 'Oswald', sans-serif;
                            }
                            .percent{
                                position: absolute;
                                top: 0;left: 0;bottom: 0;
                                background: #ff7e67;
                                z-index: 0;
                            }
                        }
                        .fillPercent{
                            .percent{
                                animation:fadeInUp 1s linear;
                                @keyframes fadeInUp{
                                    from{
                                        width: 0;
                                        opacity: 0;
                                    }
                                }
                            }
                        }
                    }
                    @media screen and (max-width:$rs-breakpoint){
                        .skills-pers{
                            width: calc(100vw - 60px);
                            .skill{
                                flex: unset;width: 100%;
                            }
                        }
                    }
                    .load-more-hold{
                        background: #e4e4e4;
                        @media screen and (max-width:$rs-breakpoint){
                            bottom: 0;
                            position: sticky;
                            z-index: 2;
                        }
                        .load-more{
                            padding:14px 25px;
                            margin: 25px;
                            margin-bottom: none;
                            background: none;
                            color: #68b0ab;
                            border-radius: 4px;
                            font-family: 'Oswald', sans-serif;
                            border: 1px solid #68b0ab;
                            cursor: pointer;
                            width: 200px;
                            position: relative;

                            .loader{
                                @include hw-same(15px);
                                border: 3px solid #ff7e67;
                                border-left: 3px solid transparent;
                                border-radius: 50%;
                                display: inline-block;
                                position: absolute;
                                right: 25px;
                                top: 14px;
                                opacity: 0;
                                animation: rotate 1s linear infinite;
                                @keyframes rotate{
                                    to{
                                        transform: rotate(360deg);
                                    }
                                }
                            }
                        }
                    }
                }
                .svg-hold{
                    img{
                        @include hw-same(300px);
                    }
                    left:50px;
                    top:50px;
                    opacity: 0.3;
                }
                .header{
                    z-index:2;
                }
            }
            &.contact-page{
                .section-side{
                    .contact-form{
                        @include displayflex();
                        justify-content: stretch;
                        .form-group{
                            flex: 100%;
                            margin:10px 0;
                            input,textarea{
                                background: none;
                                padding: 8px 6px;
                                border: 2px solid #68b0ab;
                                color:#68b0ab;
                                outline: none;
                                border-radius: 10px;
                                width: calc(100% - 18px);
                                resize: none;
                            }
                            button{
                                padding: 14px 16px;
                                background: #ff7e67;
                                border: none;
                                color: #f4f4f4;
                                cursor: pointer;
                                border-radius: 10px;
                            }
                            label{
                                position: absolute;
                                bottom: 8px;
                                left: 3px;
                            }
                            &.row{
                                @include displayflex();
                                justify-content: space-between;
                                input{
                                    &:first-child{
                                        margin-bottom: 20px;
                                    }
                                }
                            }
                            @media screen and (min-width:$rs-breakpoint) {
                                &.row{
                                    input{
                                        width: 278px;
                                        margin-left: 0;margin-right: 0;
                                        &:first-child{
                                            margin-bottom: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        footer{
            background: #382933;
            padding: 30px;
            @include displayflex();
            .main-footer{
                display: block;
            }
            .sub-footer{
                color: #cedebd;
                letter-spacing: 1px;
                *{
                    color: #cedebd;
                }
                b{
                    position: relative;
                    top: 5px;
                }
            }
        }
    }
}
.box {
    width: 150px;
    height: 150px;
    border-radius: 1em;
    background-color: #f9f07e;
    margin-left: auto;
    margin-right: auto;
  }
  
  .magic {
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
  }